/*
 * Cosine - a game for training basic values of trigonometric functions
 * Copyright (C) 2019 Oto Šťáva
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/*@font-face {*/
    /*font-family: "Ubuntu";*/
    /*font-weight: 100;*/
    /*src:*/
            /*local("Ubuntu Light"),*/
            /*url("ubuntu/Ubuntu-L.ttf") format("truetype"),*/
            /*url("ubuntu/Ubuntu-LI.ttf") format("truetype");*/
/*}*/

@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src:
        local("Ubuntu"),
        url("ubuntu/Ubuntu-R.ttf") format("truetype"),
        url("ubuntu/Ubuntu-RI.ttf") format("truetype");
}

/*@font-face {*/
    /*font-family: "Ubuntu";*/
    /*font-weight: 500;*/
    /*src:*/
        /*local("Ubuntu Medium"),*/
        /*url("ubuntu/Ubuntu-M.ttf") format("truetype"),*/
        /*url("ubuntu/Ubuntu-MI.ttf") format("truetype");*/
/*}*/

@font-face {
    font-family: "Ubuntu";
    font-weight: 700;
    src:
        local("Ubuntu Bold"),
        url("ubuntu/Ubuntu-B.ttf") format("truetype"),
        url("ubuntu/Ubuntu-BI.ttf") format("truetype");
}



/*@font-face {*/
    /*font-family: "Ubuntu Condensed";*/
    /*src:*/
        /*local("Ubuntu Condensed"),*/
        /*url("ubuntu/Ubuntu-C.ttf") format("truetype")*/
/*}*/

/*@font-face {*/
    /*font-family: "Ubuntu Mono";*/
    /*src:*/
        /*local("Ubuntu Mono"),*/
        /*url("ubuntu/UbuntuMono-R.ttf") format("truetype"),*/
        /*url("ubuntu/UbuntuMono-RI.ttf") format("truetype"),*/
        /*url("ubuntu/UbuntuMono-B.ttf") format("truetype"),*/
        /*url("ubuntu/UbuntuMono-BI.ttf") format("truetype");*/
/*}*/
