/*
 * Cosine - a game for training basic values of trigonometric functions
 * Copyright (C) 2019 Oto Šťáva
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

body {
    background: #ededed;
    transition: background 0.5s;
    font-family: Ubuntu, sans-serif;
}

body.answer.right {
    background: #bfffbd;
}

body.answer.wrong {
    background: #ff9e94;
}

.question {
    text-align: center;
    color: rgba(0, 0, 0, 0.35);
}

.background-circle {
    border: 64px solid rgba(0, 0, 0, 0.05);
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

.show-splash-hotcorner {
    background: #d2d2d2;
    border-bottom-left-radius: 100%;
}

.footer-hotcorner {
    background: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 100%;
}

.footer-hotcorner-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
}

.footer-hotcorner-icon ellipse {
    fill: rgba(0, 0, 0, 0.3);
}

.footer {
    font-size: 18pt;
}

.footer-item {
    display: block;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.hoverEnabled .footer-item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.footer-item:active, .footer-item.active {
    color: rgba(0, 0, 0, 1.0);
}

.footer-content {
    background-color: rgba(0, 0, 0, 0.05);
}

.button {
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 2%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.03);
    transition: background 0.3s;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.hoverEnabled .button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.button:active, .button:hover.active {
    background: rgba(0, 0, 0, 0.2);
}

body.answer .button.actually {
    border-color: #5ddf51;
    background: #bdffb6;
}

.splash {
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.splash .author {
    font-size: 30pt;
    margin-bottom: -12pt;
}

.splash .title {
    font-size: 80pt;
    font-weight: bold;
}

.splash .version {
    font-size: 20pt;
}
