/*
 * Cosine - a game for training basic values of trigonometric functions
 * Copyright (C) 2019 Oto Šťáva
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

body {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.background {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;  right: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.footer:hover {
  width: auto;
  left: 0;
}

.footer .footer-content {
  position: fixed;
  display: inline-block;
  opacity: 0;
  right: 0;
  bottom: 0;
  padding: 8px 8px 8px 30px;
  transition: opacity 0.5s, padding 0.5s;
  pointer-events: none;
  white-space: nowrap;
  border-top-left-radius: 24px;
}

.footer:hover .footer-content {
  opacity: 1;
  padding: 24px 24px 60px 60px;
  pointer-events: all;
}

.footer-item {
  margin-bottom: 16px;
  text-align: right;
}

.footer-hotcorner {
  position: fixed;
  bottom: 0; right: 0;
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s;
  overflow: hidden;
}

.footer:hover .footer-hotcorner {
  width: 0;
  height: 0;
}

.question {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gc-container {
  /*position: absolute;*/
  width: 100%;
  bottom: 0;
}

.game-controls {
  border-spacing: 0.1cm;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;

  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-controls .button {
  width: 14%;
}

.game-controls .button div {
  vertical-align: middle;
}

.button.gs-cell {
  overflow: hidden;
}
