<!--
  ~ Cosine - a game for training basic values of trigonometric functions
  ~ Copyright (C) 2019 Oto Šťáva
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title><%= __APP__.name %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body class="hoverEnabled">
        <div class="splash centered">
            <div class="main-text">
                <span class="title"><%= __APP__.name %></span>
                <span class="version"><%= __APP__.version %></span>
            </div>
            <div class="license">
                Made with &hearts;, licensed under the GNU GPLv3
            </div>
            <div class="noscript">
                <noscript>This app requires JavaScript. Please enable it in your browser settings to proceed.</noscript>
            </div>
        </div>

        <div class="container">
            <div class="background">
                <div class="background-circle centered"></div>
            </div>

            <div class="game-screen">
                <div class="question noclick">

                </div>

                <svg class="unit-circle-svg centered" viewBox="-1.2 -1.2 2.4 2.4"
                     xmlns="http://www.w3.org/2000/svg">
                    <ellipse class="unit-circle"
                             vector-effect="non-scaling-stroke"
                             cx="0" cy="0"
                             rx="1" ry="1"></ellipse>
                    <line class="unit-axes"
                          vector-effect="non-scaling-stroke"
                          x1="-1.2" y1="0"
                          x2="1.2" y2="0"></line>
                    <line class="unit-axes"
                          vector-effect="non-scaling-stroke"
                          x1="0" y1="-1.2"
                          x2="0" y2="1.2"></line>
                    <line class="unit-angle-line"
                          vector-effect="non-scaling-stroke"
                          x1="0" y1="0"
                          x2="1" y2="0"></line>
                </svg>

                <div class="game-controls">
                    <div class="button" data-ans="0">
                        <div class="noclick">

                        </div>
                    </div>
                    <div class="button" data-ans="1">
                        <div class="noclick">

                        </div>
                    </div>
                    <div class="button" data-ans="2">
                        <div class="noclick">

                        </div>
                    </div>
                    <div class="button" data-ans="3">
                        <div class="noclick">

                        </div>
                    </div>
                    <div class="button" data-ans="4">
                        <div class="noclick">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-content">
                <a class="footer-item" href="https://gitlab.com/Spiffyk/cosine2">GitLab</a>
                <a class="footer-item" href="https://gitlab.com/Spiffyk/cosine2/blob/master/LICENSE.md">General Public License v3</a>
            </div>
            <div class="footer-hotcorner">
                <svg class="footer-hotcorner-icon" viewBox="-1 -1 2 2" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="0" cy="0" rx="0.13" ry="0.13"></ellipse>
                    <ellipse cx="0.4" cy="0" rx="0.13" ry="0.13"></ellipse>
                    <ellipse cx="-0.4" cy="0" rx="0.13" ry="0.13"></ellipse>
                </svg>
            </div>
        </div>
    </body>
</html>
